@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Do+Hyeon&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: aliceblue;
    font-family: 'Abril Fatface', cursive;
    box-sizing: border-box;
}

.add-todos {
    margin-bottom: 20px;
}

.todo-list {
    width: 80%;
    padding: 10px;
    text-align: center;
}

.todo-list__title {
    font-size: 3rem;
    text-align: center;
    color: #7c7cff;
    position: relative;
    display: inline-block;
}

.todo-list__title:after {
    position: absolute;
    content: '';
    background: url("../img/icon-list.png") no-repeat 0 0;
    right: -64px;
    top: 10px;
    width: 50px;
    height: 50px;
}

.add-todos__field {
    width: 100%;
    border-color: #000;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
}

.add-todos__btn {
    display: block;
    margin: auto;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Do Hyeon', sans-serif;
    transition: .3s;
    cursor: pointer;
    border-radius: 4px;
}

.add-todos__btn:hover {
    background-color: #585252;
}

.my-todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.my-todo-list__date {
    color: #2097ff;
}

.my-todo-list__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: 'Do Hyeon', sans-serif;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.my-todo-list__title {
    width: 60%;
    text-align: left;
}

.sort-section {
    text-align: center;
}

.sort-by-date {
    text-align: center;
}

.sort-btn {
    display: inline-block;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: black;
    padding: 10px;
    width: 100px;
    margin-bottom: 20px;
}
